* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: PublicSansLight;
  src: url(/Public_Sans/static/PublicSans-Light.ttf);
}
@font-face {
  font-family: PublicSansReg;
  src: url(/Public_Sans/static/PublicSans-Regular.ttf);
}
@font-face {
  font-family: PublicSansBold;
  src: url(/Public_Sans/static/PublicSans-Bold.ttf);
}
@font-face {
  font-family: PublicSansSBold;
  src: url(/Public_Sans/static/PublicSans-SemiBold.ttf);
}
 body {
   font-size: 16px;
   text-align: center;
 }
 header {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 20px;
   background: #ffffff;
 }
 header input, label .close, header a.invite-btn {
   display: none;
 }
 header nav {
  position: absolute;
  top:100%;
  left: 10%;
  width: 80%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 250ms ease-in;
  z-index: 8;
}
nav ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  font-family: PublicSansBold;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
  color: hsl(228, 39%, 23%);
}
.overlay {
  display: none;
  position: absolute;
  top:80%;
  left: 0;
  width: 100%;
  height: 90vh;
  background: black;
  opacity: .2;
}
header nav ul li {
  padding: 10px;
  color: hsl(233, 26%, 24%); 
 }

 #menu:checked ~ nav {
  transform: scale(1,1);
}
#menu:checked ~ label  .hamburger {
  display: none;
}
#menu:checked ~ label  .close {
  display: block;
}
#menu:checked ~ .overlay {
  display: block;
}

.section-1 {
  width: 100%;
  background: hsl(220, 16%, 96%); 
}
.section-1 img {
  width: 100%;
  margin-top: -48%;
  background: url(/images/bg-intro-mobile.svg) no-repeat right bottom/cover;
}
.section-1 .section-1-details {
  padding:0 20px;
  padding-bottom: 40px;
}
.section-1 .section-1-details h1 {
  padding: 10px 0;
  color: hsl(233, 26%, 24%);
  font-size: 2.4rem;
  font-family: PublicSansSBold;
  text-align: left;
  margin: 0;
}
.section-1 .section-1-details p {
  padding: 30px 0;
  font-size: 1.1rem;
  font-family: PublicSansReg;
  color: hsl(233, 8%, 62%);
}
.invite-btn {
  font-size: .9rem;
  font-family: PublicSansBold;
  color: #ffffff;
  /* display: inline-block; */
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 20px;
  background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}
.section-2 {
  padding: 20px 0;
  background: hsl(0, 0%, 98%);
}
.section-2 .why-us {
  padding: 10px 20px;
  font-family: PublicSansReg;
  color:hsl(233, 8%, 62%);
}
.section-2 .why-us h2 {
  padding: 20px 0;
  font-size: 1.9rem;
  font-family: PublicSansSBold;
  color: hsl(233, 26%, 34%);
}
.section-2 ul {
  list-style-type: none;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.section-2 ul li {
  margin: 20px 0;
  font-family: PublicSansReg;
  color:hsl(233, 8%, 62%);
}
.section-2 ul li h3 {
  padding: 10px 0;
  font-size: 1.3rem;
  font-family: PublicSansBold;
  color: hsl(233, 26%, 34%);
}
.section-3 {
  padding: 30px;
  background: hsl(220, 16%, 96%);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.section-3 h2{
  font-size: 2.2rem;
  padding: 20px 0;
  font-family: PublicSansBold;
  color: hsl(233, 26%, 34%);
}
.section-3 ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.section-3 ul li {
  margin-bottom: 30px;
  background: #ffffff; 
}
.section-3 ul li div {
  text-align: left;
  padding: 30px 35px;
  font-family: PublicSansLight;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
}
.section-3 ul li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section-3 ul li div small {
  display: inline-block;
  padding: 10px 0;
}
.section-3 ul li div  h3 {
  font-size: 1.3rem;
  padding-bottom: 15px;
  font-family: PublicSansSBold;
  color: hsl(233, 26%, 34%);
  font-weight: 500;
}
footer {
  padding: 30px;
  background: hsl(233, 26%, 34%);
  font-family: PublicSansBold;
}
footer .section-a ul {
  list-style-type: none ;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 35%;
  padding: 10px;
  margin: 0 auto;
}
footer .section-b ul {
  list-style-type: none ;
  padding: 20px 0;
  color: #ffffff;
  font-family: PublicSansReg;
}
footer .section-b ul li {
  padding: 5px 0;
  font-size: 1.2rem;
}
footer .section-c p {
  margin-top: 20px;
  color: hsl(136, 65%, 51%);
  font-family: PublicSansLight;
}
@media (min-width: 650px) {
  body {
    text-align: left;
  }
  header {padding: 20px 80px;}
   header nav  {
    all: unset;
  }
  nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
  }
  nav ul li {
    margin: 0;
    padding: 0;
  }
  header label {display: none;}
  header a.invite-btn {display: block;}
  .section-1 {
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "details img";
    background: hsl(0, 0%, 98%);
  }
  .section-1-details {
    grid-area: details; 
    width: 80%;
    height: 60%;
    margin: auto 0;
    z-index: 1;
  }
  .section-1-details h1 { padding-top: 100px;}
  .section-1-details a.invite-btn {
    display: inline;
    /* padding: 20px 50px; */
  } 
  .section-1 img {
    grid-area: img;
    margin-top: -15%;
    background: url(/images/bg-intro-desktop.svg) no-repeat top -150px right -350px/cover;
  }
  .section-2 {
    padding: 120px 80px 50px 80px;
    margin-top: -150px;
    background: hsl(220, 16%, 96%);
  }
  .section-2 .why-us {
    width: 50%;
    padding-bottom: 30px;
  }
  .section-3 {
    padding: 80px;
    background: hsl(0, 0%, 98%);
  }
  footer {
    padding: 80px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } 
  footer .section-a ul {margin: 10px 0 0 0;}
  footer .section-b {    columns: 2;  }
  footer .section-b ul {padding: 0;}
  footer .section-c {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}